<tr id="<%= dom_id phone %>" class="phone-item">
  <td><%= phone.brand %></td>
  <td><%= phone.model %></td>
  <td><%= number_to_currency(phone.price) %></td>
  <td><%= phone.storage_capacity %></td>
  <td><%= phone.color %></td>
</tr>
