<div id="<%= dom_id rental %>" class="rental-item">
  <p>
    <strong>Name:</strong>
    <%= rental.name %>
  </p>

  <p>
    <strong>Id number:</strong>
    <%= rental.id_number %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= rental.phone_number %>
  </p>

  <p>
    <strong>Phone type:</strong>
    <%= rental.phone_type %>
  </p>

  <p>
    <strong>Rental duration:</strong>
    <%= rental.rental_duration %>
  </p>

  <p>
    <strong>Amount paid:</strong>
    <%= rental.amount_paid %>
  </p>
</div>
